<!doctype html>
<html lang="zh-CN">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>未来科学与工程学院志愿时长公示--demo</title>
<!--    @*1、Jquery组件引用*@-->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

<!--    @*2、bootstrap组件引用*@-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"5></script>

<!--    @*3、bootstrap table组件以及中文包的引用*@-->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.css">
    <script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.3/dist/locale/bootstrap-table-zh-CN.min.js"></script>
    <script>
        function del(rowId)
        {
            $.get("/admin",{'action': 'del', 'id':rowId},function(data){
                //请求成功时调用回调函数
                    // x=document.getElementById("TableData");
                    // x.innerHTML=String(data);
                    $('#table').bootstrapTable('refresh');
                });
        }
        function printPage()
        {
            print();
        }
    </script>
</head>
<body>
<!--{#     推荐用这种方式，比较灵活#}-->
<div style="width: 80%;margin: 0 auto">
    <table id="table" ></table>
</div>
<!--{#     1.先定义一个空表#}-->
<!--{#     2.用js初始化表，并填充数据#}-->
<script type="text/javascript">
    $(function () {
        $('#table').bootstrapTable({
            url: '/jsondata',  // 请求数据源的路由
            dataType: "json",
            pagination: true, //前端处理分页
            singleSelect: false,//是否只能单选
            search: true, //显示搜索框，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            toolbar: '#toolbar', //工具按钮用哪个容器
            striped: true, //是否显示行间隔色
            cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pageNumber: 1, //初始化加载第10页，默认第一页
            pageSize: 10, //每页的记录行数（*）
            pageList: [10, 20, 15, 100], //可供选择的每页的行数（*）
            strictSearch: true,//设置为 true启用 全匹配搜索，false为模糊搜索
            showColumns: true, //显示内容列下拉框
            showRefresh: true, //显示刷新按钮
            minimumCountColumns: 2, //当列数小于此值时，将隐藏内容列下拉框
            clickToSelect: true, //设置true， 将在点击某行时，自动勾选rediobox 和 checkbox
            height: 500, //表格高度，如果没有设置height属性，表格自动根据记录条数决定表格高度#}
            uniqueId: "id", //每一行的唯一标识，一般为主键列
            showToggle: true, //是否显示详细视图和列表视图的切换按钮
            cardView: false, //是否显示详细视图
            detailView: false, //是否显示父子表，设置为 true 可以显示详细页面模式,在每行最前边显示+号#}
            sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
            columns: [{  //定义表头,这个表头必须定义,下边field后边跟的字段名字必须与后端传递的字段名字相同.如:id、name、price
// 　　　　　　　　　　　　　　　　跟后端的字段名id  name price是完全一样的.
                field: '学号',  // SQLite数据库里的列标
                title: '学号',   // 网页里的列标
                align: 'center',  //对齐方式，居中
                width: '200px'  // 可以写各种样式#}
            }, {
                field: '姓名',
                title: '姓名',
                align: 'center'
            }, {
                field: '活动时长',
                title: '活动时长',
                align: 'center',

            }, {
                title: '公益时长',
                field: '公益时长',
                align: 'center',
            }, {
                field: '总时长',
                title: '总时长',
                align: 'center',

            },{
                title: '编辑',
                formatter: function (value, row, index) {
                    // var e = '<a href="#" mce_href="#" onclick="edit(\'' + row.学号 + '\')">编辑</a> ';  //row.学号为每行的学号
                    var d = '<a href="#" mce_href="#" onclick="del(\'' + row.学号 + '\')">删除</a> ';
                    return d;
                }
            }
            
            ],
        });
    });


</script>
        <!-- <a href="#" mce_href="#" onclick="del(2127407000+16)">删除第16行</a>  -->
</body>
</html>